/*header*/
* {
  box-sizing: border-box;
}
body {
  font-family: "montserrat", sans-serif;
}
header {
  background-color: bisque;
}
.caixa {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2%;
}
.caixa li {
  display: inline;
}
.caixa a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: x-large;
  font-weight: 800;
  padding-left: 0.5em;
  color: black;
}
.caixa a:hover {
  color: white;
  text-decoration: underline;
}
/*main*/
.produtos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  margin: auto ;
}
.produtos h2 {
  font-size: 1.4em;
  font-weight: bold;
}
.produtos li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 1%;
  padding: 30px 0px;
  border: solid black 2px;
  border-radius: 15px;
}
.produto-descricao {
  font-size: 1em;
}
.preco {
  font-size: 1.1em;
  font-weight: bold;
  margin: 10px 0 0;
}
.produtos li:hover {
  border-color: white;
  background-color: bisque;
}
.produtos li:active {
  border-color: aqua;
}
.produtos li:hover h2 {
  font-size: 1.2em;
}
.produtos li:hover p {
  font-size: 1em;
}


footer {
  position: fixed;
  width: 100%;
  margin-top: 2%;
  bottom: 0;
  color: white;
  text-align: center;
  background-image: url(img-produto/bg.jpg); /*aqui a img fica atras do conteudo html*/
}

@media screen and (max-width: 480px) {
  .caixa,
  .principal,
  .conteudo-bene,
  .mapa,
  .video,
  .produtos {
    width: auto;
  }
  h1 {
    text-align: center;
  }
  nav {
    position: static;
  }
}

/*medidas para as imagens dos produtos*/
@media screen and (max-width: 1320px) {
.produtos img  {
    width: 200px;
  }
}
@media screen and (max-width: 1000px) {
.produtos img {
    width: 150px;
  }
}
@media screen and (max-width: 800px) {
.produtos img {
    width: 100px;
  }
}
@media screen and (max-width: 580px) {
.produtos img {
    width: 50px;
  }
}
/*madida para imagens do header e footer*/
@media screen and (max-width: 1320px) {
  footer img {
    height: 200px ;
  }
@media screen and (max-width: 1000px) {
  footer img {
    height:  180px;
  }
@media screen and (max-width: 830px) {
  footer img {
    height:  120px;
  }
@media screen and (max-width: 580px) {
  footer img {
    height: 100px;
  }}